<li>
	{{burger_name}}
	<button class="devour" data-id="{{id}}" data-newDevoured ="{{devoured}}">
		{{#if devoured}}YOU DEVOURED IT!{{else}}DEVOUR THIS BURGER!{{/if}}
	</button>
		<button class="delete" data-id="{{this.id}}">
		DELETE
	</button>
</li>